.form-container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ03GgPKkmUzHhiKJbE3jUeZx1EodK6jItL8Q&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 7rem;
}